@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');


.container_admin_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    width: 90%;
    /* max-width: 1200px; */
    padding: 2%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    /* background-color: #ffffff9b; */
    background: radial-gradient(circle, rgba(147, 147, 147, 0) 0%, rgb(255, 198, 111) 100%);

}

.menu_admin {
    /* background-color: #f55d5d; */
    background: radial-gradient(circle, rgb(255, 119, 0) 0%, rgb(255, 198, 111) 100%);
    flex: 1;
    margin: 1rem;
    border-radius: 20px;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
}

.menu_admin:hover {
    transform: scale(1.15);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

.menu_admin img {
    margin: 20px !important;
    width: 200px;
    margin: auto auto;
    filter:drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5)); 
}

.menu_admin p {
    margin-top: 0;
    font-size: 20px;
    color: #333;
    
}

.btn_add_admin{
    font-family: 'Noto Sans Thai', sans-serif !important;
    font-size: 20px;
    color: #333;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 0px solid #00000020;
    background-color:rgb(218, 218, 218);
    filter:drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5)); 
}
.btn_add_admin:hover{
    background-color:rgb(102, 100, 100);
    color: #fff;
}

@media (max-width: 768px) { 
    /* .ant-table td {
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      max-width: 100px;
      width: auto;
      
    } */
  }

  