@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');

.container_btn_select {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffffff64;
    margin-bottom: 1rem;
    border-radius: 8px;
    width: fit-content;
}

.btn_All,
.btn_Yellow,
.btn_Green,
.btn_Pink,
.btn_blue {
    margin: 10px;
    width: 18vw;
    height: 70px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.234);
}

.btn_All {
    background: linear-gradient(45deg, #c0c5c7 0%, #e4d1ee 100%);
}

.btn_Yellow {
    background-color: #F1C27B;
}

.btn_Green {
    background-color: #B3C890;
}

.btn_Pink {
    background-color: #F99B7D;
}

.btn_blue {
    background-color: #A1C2F1;
}

.btn_All:hover,
.btn_Yellow:hover,
.btn_Green:hover,
.btn_Pink:hover,
.btn_blue:hover {
    scale: 1.1;
    box-shadow: 4px 6px 16px 0 rgba(0, 0, 0, 0.507);
}

.icon_in_btn {
    width: 50px;
    margin-right: 15px;
}

.text_in_btn {
    font-family: 'Noto Sans Thai', sans-serif !important;
    margin: 0;
    font-size: 16px;
    color: #333;
}

.small_text_in_btn {
    font-family: 'Noto Sans Thai', sans-serif !important;
    margin: 0;
    font-size: 14px;
    color: #0000005d;
}

/* ----------------------------------------- Popup --------------------------------------------------------- */
.popupShowTicket {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popupContent {
    width: 90%;
    height: 95%;
    overflow: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.bar_title_popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #EACDA3;
    border-radius: 10px 10px 0 0;
}

.container_Edi_in_popup {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 5px;
    color: #333;
    display: flex;
    justify-content: center;
    background-color: #ffffff75;

}

@media (max-width: 992px) {
    .btn_All,
    .btn_Yellow,
    .btn_Green,
    .btn_Pink,
    .btn_blue {
        margin: 6px;
        /* width: 20vw; */
        height: 70px;
    }
}