@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');

.container_manageTable {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000053;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #eac2a3;
    width: 75%;

}
.input_container_admin_manageTable{
    display: block ;
    width: 60%;
    padding: 0px 120px;
}

.P_label_input {
    margin-left: 5px;
    font-size: 18px;
    text-align: start;
}

.input_manage {
    font-family: 'Noto Sans Thai', sans-serif !important;
    font-size: 16px;
    margin: 0px 5px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 0;
    color: #333;
    background-color: #fff;
    outline: 2px solid #EACDA3;

}

.btn_manageTable {
    font-family: 'Noto Sans Thai', sans-serif !important;
    height: 50px;
    width: fit-content;
    border-radius: 10px;
    font-size: 18px;
    border: 0;
    background-color: rgb(255, 154, 3);
    border: 3px solid #eac2a3;

}

.btn_manageTable:hover {
    background-color: rgb(205, 85, 0);
    border: 3px solid #eac2a3;

}

.Card_Cat {
    background-color: #ffffffa7;
    width: fit-content;
    min-width: 150px;
    min-height: 150px;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;

}
.btn_add_cat{
    width: 20%;
}

.Card_Cat img {
    height: 150px;

}

@media (max-width: 768px) {
    .container_manageTable {
        display: block
    }
    .input_container_admin_manageTable{
        display: block ;
        width: 100%;
        padding: 0px;
    }
    .btn_add_cat{
        margin-top: 1rem;
        width: 100%;
    }


}