.foget_pass_container{
    display: flex;
}
.foget_pass_left{
    width: 50%;
}
.foget_pass_right{
    width: 50%;
    color: #333;
    padding-top: 180px;
}

@media (max-width: 768px) {
    .foget_pass_container{
        display: block;
    }
    .foget_pass_left{
        width: 100%;
    }
    .foget_pass_right{
        width: 100%;
        color: #333;
        padding-top: 0px;
    }
}