@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');

.tp_tab {
    font-family: 'Noto Sans Thai', sans-serif !important;
    background: rgb(255, 235, 196);
    align-items: center !important;
    border: 2px solid #ffffff;
    height: 50px !important;
    margin-bottom: 10px;
    padding: 5px;
}

.tp_tab .ant-segmented-item-label {
    display: grid;
    place-items: center;
    height: 40px !important;
}

.TP_pagination_table {
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin: 0 !important;
}

.topics_table {
    margin: 0 0 20px 0;
    color: #fffaf0;
    /* text-shadow: -1px -1px 0 rgb(114, 114, 114), 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
}

.btn_show,
.btn_delete,
.btn_ads,
.btn_ads_true,
.btn_edit_table {
    font-family: 'Noto Sans Thai', sans-serif !important;
    border: 2px solid #0000004e;
    border-radius: 4px;
}

.btn_show {
    background: #79b8fc;
}

.btn_delete {
    background: #fc7979;
}

.btn_ads {
    background: #939393;
}

.btn_ads_true {
    background: #DAB88B;
}

.btn_edit_table {
    background: #ffa938;
}

.btn_show:hover,
.btn_delete:hover,
.btn_ads:hover,
.btn_ads_true:hover,
.btn_edit_table:hover {
    background-color: #840000;
}

.div_cover_table_and_tab {
    padding: 0px 40px;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .div_cover_table_and_tab {
        padding: 0px 5px;
        margin-bottom: 1rem;
    }
    .tp_tab {
        font-size: 5px !important;
    }
}