@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Krub&family=Noto+Sans+Thai&display=swap');

.TP_font {
  font-family: 'Noto Sans Thai', sans-serif !important;
}

.NavBar {
  font-family: 'Noto Sans Thai', sans-serif !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 65px;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  content: "";
  z-index: 199;
  cursor: pointer;
  background-size: cover;
  backdrop-filter: blur(50px);
  transition: opacity 0.25s ease-out;
  background-color: rgba(0, 0, 0, 0.256);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.452);
}

.avatar_container {
  backdrop-filter: blur(10px);
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  align-items: center !important;
  padding: 20px !important;
  right: auto;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 0;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 15px !important;
}


.band {
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 20px 0px 0px 0px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
  font-family: 'Borel', cursive, 'Krub', sans-serif, 'Noto Sans Thai', sans-serif;
}

.imgLogo {
  height: 50px;
  width: 40;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 0;
}

.Nav_button {
  font-family: 'Noto Sans Thai', sans-serif !important;
  background-color: #000000e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Nav_button:hover {
  background-color: #00000063;
}

.Btn_sell {
  background: linear-gradient(90deg, #025821 0%, #2eb700 100%);
  font-family: 'Noto Sans Thai', sans-serif !important;
  transition: background-color 2s;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 5px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  border: none;
}

.Btn_sell:hover {
  background: linear-gradient(90deg, #007db7 0%, #55cadf 100%);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.361);
}

@media (max-width: 365px) {
  .band {
    display: none;
  }
}