@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');


.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  font-size: 1rem;
  font-weight: 700;
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.479) 0%, rgb(255, 255, 255, 0.9) 100%); */
  /* background-color: rgba(255, 255, 255, 0.233); */
  backdrop-filter: blur(50px);
  border: 0;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  background-size: cover;
  content: "";
  /* background-color: rgba(255, 255, 255, 0.5); */
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.band {
  font-family: 'Noto Sans Thai', sans-serif !important;
  color: rgb(255, 255, 255);
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 600;
  /* text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 0.5); */
  padding: 2px 4px;

}

p.band {
  font-family: 'Noto Sans Thai', sans-serif !important;
  margin: 0;
}

.imgLogo {
  height: 50px;
  width: 40;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.Nav_button {
  font-family: 'Noto Sans Thai', sans-serif !important;
  color: #fff;
  background-color: #000000e6;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

}
.Nav_button:hover {
  background-color: #00000063;
}

.Btn_sell {
  font-family: 'Noto Sans Thai', sans-serif !important;
  margin: 0px 5px;
  color: #fff;
  /* background-color: #ff0000; */
  background: linear-gradient(90deg, #025821 0%, #2eb700 100%);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 2s;
  
}
.Btn_sell:hover {
  background: linear-gradient(90deg, #007db7 0%, #55cadf 100%);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.361);
}