@import url('https://fonts.googleapis.com/css2?family=Krub&family=Noto+Sans+Thai&display=swap');

:root {
  font-family: 'Noto Sans Thai', sans-serif !important;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color:#fff;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;

  background: #2a2216;
  background: -webkit-linear-gradient(to top, #73583a, #bdb5ae);
  background: linear-gradient(to top, #73583a, #85605c);
}

button {
  color: #ffffff !important;
}

.swal2-confirm {
  font-family: 'Noto Sans Thai', sans-serif !important;
  border: 0;
  border-radius: 0.25em;
  background: initial;
  color: #fff;
  font-size: 1em;
}

.swal2-deny {
  font-family: 'Noto Sans Thai', sans-serif !important;
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #dc3741;
  color: #fff;
  font-size: 1em;
}

.swal2-cancel {
  font-family: 'Noto Sans Thai', sans-serif !important;
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #dc3741;
  color: #fff;
  font-size: 1em;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 32px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  font-family: 'Noto Sans Thai', sans-serif !important;
}